.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra destacada */
    max-width: 400px;
/*    width: 100%;*/
    margin: 80px auto 80px;
}

.box h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box p {
    color: #888;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    max-width: 400px;
    padding: 15px 20px;
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #00b64e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.btn.green {
    background-color: #23c53f;
    color: white;
    line-height: 1.4;
}

.btn.green span {
    display: block;
    font-weight: bold;
    font-size: 19px;
}

.main-content {
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
/*    margin: 100px auto 0 auto;*/
}






.footer {
    margin: 100px auto 0 auto;
    width: 100%;
}

.footer p {
    font-size: 13px;
    color: #777;
}

.footer a {
    text-decoration: none;
    color: #777;
    font-weight: 700;
    font-size: 13px;
}


.footer div.conteudo  {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 20px;
}
.centralizar {
    text-align: center;
}