body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FCF5EB; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #FCF5EB; /* Cor de fundo ajustada */
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 170px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
/*    top: 50px;*/
    z-index: 2;
}

.footer {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin: 100px 0 0 0;    
}

.footer-logo {
    width: 120px;
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #03d35d;
}

.content {
    text-align: justify;
    max-width: 800px;
    margin: 70px auto;
/*    padding: 20px;*/
    position: relative;
    top: 50px;    
/*    background: white;*/
    border-radius: 10px;
/*    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);*/
    color: #b9ac9a;
}

.content h2, .content h3 {
    font-size: 18px;
}
.content p, .content li  {
    font-size: 14px;
}

@media (max-width: 700px) {
    .content h2, .content h3 {
        font-size: 12px;
    }
    .content p, .content li  {
        font-size: 10px;
    }
}